/* #masterDiv{
    background-image: url('../../Images/pageBgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */

#PostJobMainDiv h1{
    font-family: 'Jost';
    font-weight: 700;
}

#PostJobMainDiv h5{
    text-shadow: 1px 1px 5px gray;
}