#allJobsCard:hover{
    box-shadow: 1px 1px 10px rgb(219, 219, 219);
}

#jobInput{
    padding-left: 30px;
    border: 1px;
    border-radius: 15px 0px 0px 15px;
}

#locationInput{
    padding-left: 30px;
    border: 1px;
    border-radius: 0px 15px 15px 0px;
}

#allJobsCard{
    cursor: pointer;
}

#allJobsCard #jobTitle{
    font-family: 'Jost';
    font-weight: 700;
    font-size: 17px;
}

#filterJobs{
    height: 340px;
    top: 30px;
    position: sticky;
    font-size: 15px;
}

#filterJobs h3{
    font-family: 'Jost';
    font-weight: 700;
}

#jobDescModal{
    height: 500px;
    overflow: auto;
}