#SvJobOverviewDiv{
    height: 615px;
    overflow: auto;
    top: 20px;
    position: sticky;
}

#SvJobCards:hover{
    /* background-color: rgb(245, 245, 245); */
    box-shadow: 1px 1px 10px rgb(219, 219, 219);
}