#loginMainDiv{
    background-image: url('../../Images/pageBgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#loginBgDiv{
    background-image: url('../../Images/loginDivImg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: rgb(205, 232, 255); */
}

#loginMainDiv h5{
    text-shadow: 1px 1px 5px gray;
}